body {
  margin: 0;
  padding: 0;
}

header {
  background-color: black;
  color: white;
}

ul {
  padding: 15px 30px;
}

li {
  list-style-type: none;
  display: inline-block;
  margin-right: 20px;
}

a {
  text-decoration: inherit;
}

a:hover {
  color: yellow;
}

a:visited {
  color: white;
}

.card {
  background-color: lightblue;
  margin: -16px 0px;
}

.slider {
  width: auto;
  height: auto;
}

.slider_img {
  display: block;
  width: 95%;
  height: auto;
  padding-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

.p-text {
  column-span: all;
  height: auto;
  column-count: 4;
  column-fill: balance;
  column-width: 250px;
  column-rule: 1px solid black;
  column-gap: 10px;
  text-align: justify;
  margin-top: 10px;
  margin-right: 35px;
  margin-bottom: 30px;
  padding-bottom: 20px;
}

.image {
  float: left;
  margin: 12px 10px 0px 40px;
}

footer {
  background-color: black;
  text-align: center;
  color: white;
  height: 3em;
}